<h1>Hello, <%= @user.email %></h1>
<p>You have the following pending tasks:</p>
<ul>
  <%# @tasks.each do |task| %>
    <li>This is the testing of mail template</li>
  <%# end %>
</ul>
<p>Please review them in the Task Manager.</p>